* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f8f9fa;
}

header {
  background-color: #006400;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

#Carrinho {
  width: 30px; 
  height: auto; 
  vertical-align: middle;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(to right, #008000, #32cd32);
  color: white;
}

.banner h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.banner button {
  background-color: white;
  color: #008000;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.banner button:hover {
  background-color: #f0f0f0;
}

.produtos {
  padding: 2rem;
  text-align: center;
  margin-left: 20rem;
  margin-right: 20rem;
}

.grid-produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.produto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto img {
  width: 100%;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #006400;
  color: white;
  margin-top: 100%;
}
